@model IEnumerable<TweeterApp.Models.MessageModel>
<h3>Send Message</h3>
<form method="post" asp-action="Send">
    <input type="email" name="reciverEmail" placeholder="Reciever Email" class="form-control" /><br />
    <input type="text" name="subject" placeholder="Subject" class="form-control"/><br />
    <textarea name="body" placeholder="The Message" class="form-control"></textarea><br />
    <button type="submit" class="btn btn-primary">Send</button>
</form>